body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  text-decoration: none;
  color: black;
  margin: 10px 0;
}

h1:hover {
  color: #ffda08;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 4px dotted black;
  padding: 0 20px 0 5px;
}

.logo {
  display:flex;
  flex-direction: row;
  align-items: baseline;
}

nav a, button, input[type="submit"] {
  background-color: #ffda08;
  color:black;
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .75px;
  padding: 6px 10px;
  margin: 10px 5px;
  cursor: pointer;
}

input[type="submit"], button[type="submit"] {
  background-color: #ffa67a;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* main * {
  margin: 0 auto;
} */

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input, textarea {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
}

textarea {
  resize: none;
}

input:focus, textarea:focus {
  outline: #ffda08;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    padding-bottom: 20px;
  }

  nav {
    margin: 0 auto;
  }
}